<section class="bus-container">
  <form (ngSubmit)="onUpdate()" #busForm="ngForm">
    <mat-form-field>
      <input [(ngModel)]="stopBusId" matInput placeholder="Bus Stop Number" name="BusStopNumer">
    </mat-form-field>
    <button mat-button (click)="onUpdate()">Update</button>
  </form>
  <mat-spinner strokeWidth="10" *ngIf="!busDataLoaded"></mat-spinner>

  <mat-list *ngIf="busDataLoaded">
    <mat-list-item *ngFor="let bus of buses">
      {{bus.route}} is due in {{bus.duetime}} min(s) - ({{bus.arrivaldatetime}})
    </mat-list-item>
  </mat-list>

  <span class="error">{{problem}}</span>
</section>
